body {
    background-color: rgb(235, 235, 235);
}

.main {
    color: rgb(31, 31, 31);
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: larger;
}

.date {
    color: rgb(201, 201, 201);
}

.author {
    color: rgb(87, 87, 87);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: sans-serif;
}

a {
    color: rgb(31, 31, 31);
}


img {
    width: 100%;
    height: 100%;
}

@media (max-width: 700px) {
   
    .main {
    margin: auto;
    width: 70%;
    padding: 5px;
    font-size: medium;
}
}